<div class="artistsearch">
    <div class="card search">
        <h1>Artist Discovery</h1>
        <label>Search for <span *ngIf="query">{{query}}</span></label>
        <input [(ngModel)]="query" placeholder="type in to search" />
        <button (click)="addArtist(newArtist.value); newArtist.value=''">Add</button>
    </div>
</div>
<ul *ngIf="query" class="artistlist cf">
    <li (click)="showArtist(item); query='';" class="artist cf" *ngFor="#item of (artists) | find:query">
        <artist-item class="content" [artist]=item></artist-item>
        <!-- <img src="{{item.imageUrl}}" alt="">
        <div class="info">
            <h2>{{item.name}}</h2>
            <h3>{{item.known}}</h3>
        </div> -->
    </li>
</ul>

<artist-details *ngIf="currentArtist" [artist]="currentArtist"></artist-details>
